.registration {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .btnLogin {
    border: none;
    background-color: transparent;
font-weight: 700;
font-size: 16px;
line-height: 125%;
color: #8a8a89;
cursor: pointer;
  }



  .btnLogin span {
    margin-left: 8px;
  }

   .btnRegistration:hover {
    color: #BFD6EA;
  }

  .btnLogin:hover {
    color: black;
  }

  .btnRegistration {
    font-weight: 700;
    border: none;
font-size: 16px;
line-height: 125%;
color: #fff;
background-color: #8a8a89;
border-radius: 12px;
padding: 14px 39px;
width: 166px;
height: 48px;
cursor: pointer;
  }

  .userEmail{
    font-weight: 700;
    border: none;
font-size: 14px;
line-height: 125%;
color: #fff;
background-color: #8a8a89;
border-radius: 12px;
padding: 14px 9px;
  }
